<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row mt-4">
    <% @sounds.each do |sound| %>
      <div class="col-sm-6 col-md-4 mt-4">
        <button class="btn btn-success btn-lg btn-block btn-sound" onclick="playSound('<%= sound.id %>');">
          <i class="fas fa-play fa-fw"></i> <%= sound.title %>
        </button>
      </div>
    <% end %>
    <div class="col-sm-6 col-md-4 mt-4">
      <button class="btn btn-danger btn-lg btn-block btn-sound" onclick="stopSounds();">
        <i class="fas fa-stop fa-fw"></i> Stop!
      </button>
    </div>
    <div class="col-sm-6 col-md-4 mt-4">
      <%= button_to sounds_path, class: "btn btn-warning btn-lg btn-block btn-sound" do %>
        <i class="fas fa-edit fa-fw"></i> Manage Sounds
    <% end %>
    </div>
    <div class="col-sm-6 col-md-4 mt-4">
      <%= button_to "https://github.com/spilth/soundboard-rails", class: "btn btn-secondary btn-lg btn-block btn-sound" do %>
        <i class="fab fa-github fa-fw"></i> Contribute
    <% end %>
    </div>
  </div>
</div>

<script>
  const sounds = [
    <% @sounds.each do |sound| %>
      {src: "<%= url_for(sound.audio) %>", id: '<%= sound.id %>'},
  <% end %>
  ]

  createjs.defaultInterruptBehavior = createjs.Sound.INTERRUPT_ANY;
  createjs.Sound.registerSounds(sounds, "", 0);

  function playSound(soundID) {
    createjs.Sound.play(soundID);
  }

  function stopSounds() {
    createjs.Sound.stop();
  }
</script>

