<p id="notice"><%= notice %></p>

<%= link_to "Home", root_path %>

<h1>Sounds</h1>

<p class="text-right"><%= link_to 'New Sound', new_sound_path, class: "btn btn-primary btn-sm" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= link_to sound.title, sound %></td>
        <td><%= link_to 'Edit', edit_sound_path(sound), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', sound, class:"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<script>
  const sounds = [
    <% @sounds.each do |sound| %>
      {src: "<%= url_for(sound.audio) %>", id: '<%= sound.id %>'},
  <% end %>
  ]

  createjs.defaultInterruptBehavior = createjs.Sound.INTERRUPT_ANY;
  createjs.Sound.registerSounds(sounds, "", 0);

  function playSound(soundID) {
    createjs.Sound.play(soundID);
  }

  function stopSounds() {
    createjs.Sound.stop();
  }
</script>
