<p id="notice"><%= notice %></p>

<%= link_to "Home", root_path %> | <%= link_to "Manage Sounds", sounds_path %>


<h1><%= @sound.title %></h1>

<audio controls src="<%= url_for(@sound.audio) %>"></audio>

<p>
  <%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
</p>

<% content_for :head  do %>
  <meta property="og:title" content="<%= @sound.title %>"/>
  <meta property="og:type" content="music.song"/>
  <meta property="og:url" content="<%= sound_url(@sound) %>"/>
  <meta property="og:audio" content="<%= rails_blob_url(@sound.audio) %>"/>
  <meta property="og:site_name" content="C5 Soundboard"/>
<% end %>