<p id="notice"><%= notice %></p>

<h1><%= @sound.title %></h1>

<audio controls src="<%= url_for(@sound.audio) %>"/>

<%= link_to 'Edit', edit_sound_path(@sound) %> |
<%= link_to 'Back', sounds_path %>
